p {
    padding: 0;
    margin: 0;
}

.box {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center; 
    /* z-index: 100; */
    /* z-index: -1; */
    /* background-image: url("./imgs/bg.png"); */
}
.content {
    margin: 10%;
}

.time {
    font-size: 12em;
}

.datebox {
    font-size: 5em;
}

.study {
    font-size: 5em;
}
/* 倒计时 */

.name {
    color: tomato;
}

.navgation {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.imgBox {
    position: fixed;
    bottom: 0;
}